<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<style>
     li a {
    
    color: rgb(17, 17, 17);
    font-size: larger;
    text-align: center;
    text-decoration: none;
  }
  body{
    background-image: url('https://c8.alamy.com/comp/TRTDC6/background-design-for-medical-hospital-wallpaper-design-TRTDC6.jpg');
    backdrop-filter: blur(5px);
  }
  </style>
<body>
    <div>
      
        <nav class="navbar navbar-expand-sm">
          <div>
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSDXPWNSGdPetbLwvVmbtKX1-oMVEpmR4vzQ&usqp=CAU" style="width: 50%; height: 50%; border-radius: 50%;" class="rounded">
            <h5>Safe Hospital</h5>
          </div>
        
          <!-- <ul class="navbar-nav ml-auto" style="margin-right: 10%; margin-bottom:20px;">
              <li class="nav-item">
                  <b><a class="nav-link" href="{% url 'homes' %}"style="margin-right: 50px;">
                   HOME
                  </b></a>
              </li>
              <b><li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="{% url 'about' %}">
                  ABOUT US
                </b></a>
            </li>
              
              <li class="nav-item">
                  <b><a class="nav-link" href="{% url 'special' %}" style="margin-right: 50px;">
                    SPECIALITIES
                  </b></a>
              </li>
              <li class="nav-item">
                <b><a class="nav-link" href="{% url 'gal' %}" style="margin-right: 50px;">
                  GALLERY
                </b></a>
            </li>
            <li class="nav-item">
              <b><a class="nav-link" href="" style="margin-right: 50px;">
                CONTACT US
              </b></a>
          </li>
          </ul> -->
      </nav> 
      <h1 style="margin-left: 30%; margin-top: 100px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Safe Hospital</h1>
      <h1 style="margin-left: 30%; margin-top: 100px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Making Health Care
      </h1><h1 style="margin-left: 30%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Better Together</h1>
      <p  style="margin-left: 30%; margin-top: 30px; text-align: justify; margin-right: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" > health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.[2] The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness.</p>
      <button style="margin-left: 30%;" type="button" class="btn btn-dark" style="color: whitesmoke;"><a href="{% url 'log' %}" style="color: whitesmoke; text-decoration: none;">Make An Appoinment</a></button>
      <!-- <button type="button" style="margin-left: 60%;" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">Make An Appoinment</button> -->




      <!-- modal -->
      <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book An Appoinment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <label>Full Name</label>
            <input type="text" placeholder="enter your name" class="form-control">
            <label>Age</label>
            <input type="text" placeholder="enter your age" class="form-control">
            <label>Gender</label>
            <input type="radio" name="gen"><label>Male</label> 
            <input type="radio" name="gen"><label>Female</label><br>
            <label>Address</label>
            <textarea class="form-control" placeholder="enter your address" rows="4" cols="50"></textarea>
            <label>Department</label>
            <input type="text" class="form-control">
            <label>Doctor Name</label>
            <input type="text" class="form-control">
            <label>Are you Sure to Confirm Bookings ?</label>
            <input type="radio" name="sure"><label>Yes</label>
            <input type="radio" name="sure"><label>No</label>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Done</button>
            </div>
          </div>
        </div>
      </div> -->
</body>
</html>