<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<style>
    
    
    .img-responsive{
      display: block;
    max-width: 100%;
    height: auto;
    }
    li a {
   
   color: rgb(17, 17, 17);
   font-size: larger;
   text-align: center;
   text-decoration: none;
 }
 </style>
<body>
    <div>
      <nav class="navbar navbar-expand-md bg-light navbar-light">
        <div>
          <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSDXPWNSGdPetbLwvVmbtKX1-oMVEpmR4vzQ&usqp=CAU" style="width: 50%; height: 50%; border-radius: 50%;" class="rounded">
          <h5>Safe Hospital</h5>
        </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <b><a class="nav-link" href="{% url 'homes' %}"style="margin-right: 50px;">
                HOME
               </b></a>            </li>
            <li class="nav-item">
              <b><a class="nav-link" href="{% url 'about' %}" style="margin-right: 50px;">
                ABOUT US
              </b></a>            </li>
            <li class="nav-item">
              <b><a class="nav-link" href="{% url 'special' %}" style="margin-right: 50px;">
                SPECIALITIES
              </b></a>            </li> 
              <li class="nav-item">
                <b><a class="nav-link" href="{% url 'gal' %}" style="margin-right: 50px;">
                  GALLERY
                </b></a>         </li>  
                <li class="nav-item">
                  <b><a class="nav-link" href="{% url 'con' %}" style="margin-right: 50px;">
                    CONTACT US
                  </b></a>        </li>  
                  <li class="nav-item">
                    <button  type="button" style="margin-left: 60%; color: rgb(236, 234, 234);" class="btn btn-dark nav-link" data-toggle="modal" data-target="#exampleModal" ><b>Make An Appoinment</b></button>
                  </li> 
                  <li class="nav-item">
                    <button type="button" style="margin-left: 60%; " class="btn btn-dark nav-link" ><a href="{% url 'out' %}" class="nav-link" style="color: rgb(226, 231, 231); "><b>Logout</b></a></button>
                  </li>  
          </ul>
        </div>  
      </nav>
      <div>
        <h1 style="text-align: center; text-shadow:chartreuse;">Highest Quality Medical Treatment</h1>
      </div>
      <div class="card-group mb-3">
        <div class="card mr-3" >
          <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1551076805-e1869033e561?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aG9zcGl0YWx8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="Card image cap" style="width: 500px; height: 300px;">
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://iprospectcheck.com/wp-content/uploads/2020/01/healthcare-background-check.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
          
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2aaaebef42372915.jpg" alt="Card image cap"style="width: 500px; height: 300px;">
          
        </div>
    </div>
    <div class="card-group mb-3">
        <div class="card mr-3" >
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/6291eeed435d67961117.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://wallpaperaccess.com/full/1282798.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
          
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://cdn.cbeditz.com/cbeditz/large/11636386635z7emjfmnmphtlw6pxxz8i1ksjfsa0yaydelvzex42p7mfmgcu2t92qrhdb2acbgxrbgvqm0ltdldbhjxqkcqaeyfztoqwtzmbee3.png" alt="Card image cap"style="width: 500px; height: 300px;">
          
        </div>
    </div>
    <div class="card-group mb-3">
        <div class="card mr-3" >
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2750eca1a930922.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://iprospectcheck.com/wp-content/uploads/2020/01/healthcare-background-check.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
          
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2a82e5e7f1313520.jpg" alt="Card image cap"style="width: 500px; height: 300px;">
          
        </div>
    </div>
    <div class="card-group mb-3">
        <div class="card mr-3" >
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea27aaa7a9f1337813.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2965602ea658106.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
          
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2a0f2b2be937688.jpg" alt="Card image cap"style="width: 500px; height: 300px;">
          
        </div>
    </div>
    <div class="card-group mb-3">
        <div class="card mr-3" >
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2a32a66f815615511.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2cfd2335515519923.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
          
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2cbce03ef18677621.jpg" alt="Card image cap"style="width: 500px; height: 300px;">
          
        </div>
    </div>
    <div class="card-group mb-3">
        <div class="card mr-3" >
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2fbb9e5469106527.jpeg" alt="Card image cap" style="width: 500px; height: 300px;">
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea30ee050621168987.jpg" alt="Card image cap" style="width: 500px; height: 300px;">
          
        </div>
        <div class="card mr-3">
          <img class="card-img-top img-fluid" src="https://www.camhospital.in/userfiles/gallery/62ea2f8cd80d79992426.jpeg" alt="Card image cap"style="width: 500px; height: 300px;">
          
        </div>
    </div>
  
    


<!-- footer -->

<div class="footer-middle" style="background-color: black; margin-top: 400px;"> 
  <div class="container">
    <div class="row">
                                                            <div class="col-sm-12 col-md-6 col-lg-3 ">
            <div id="about_us-widget-9" class="widget about_us">			<!-- About Widget -->
<div class="about-footer">
<div class="footer-widget address">
  <div class="footer-logo">
                                </div>
  <div class="footer-address">
                                            </div>
</div>
</div>	

</div><div id="about_us-widget-5" class="widget about_us">			<!-- About Widget -->
<div class="about-footer">
<div class="footer-widget address">
  <div class="footer-logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSDXPWNSGdPetbLwvVmbtKX1-oMVEpmR4vzQ&usqp=CAU"  alt="" style="padding-top: 30px; width: 100px; height: 100px; margin-right: 60%;">    
       <br><p style="color: beige;">KNA PLAZA, Kundannoor<br>
        Kochi, Kerala 682304</p> 
        <div class="text-m-small line-height-24 text-medium-gray"> <a href="" class="text-medium-gray">safehospital@gmail.com</a></div>

                            <div class="text-m-small line-height-24 text-medium-gray" style="color: antiquewhite;">Phone: +91 999 546 9222  </div>

                            <div class="text-m-small line-height-24 text-medium-gray" style="color: antiquewhite;">Phone: +91 996 199 8444 </div>             
      
                </div>
                

</div>
</div>	

</div><div id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-social-menu-container"><ul id="menu-social-menu" class="menu">
</ul></div></div>										</div>
          
                                                              <div class="col-sm-12 col-md-6 col-lg-3 ">
            <div id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title" style="color: whitesmoke;">Quick Links</h2><div class="menu-our-company-container"><ul id="menu-our-company" class="menu"><li id="menu-item-423" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-423"><a href="#"  style="color: whitesmoke;">Home</a></li>
<li id="menu-item-424" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-424"><a href="#" style="color: whitesmoke;">Contact</a></li>
<li id="menu-item-425" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-425"><a href="#"  style="color: whitesmoke;">Gallery</a></li>
<li id="menu-item-426" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-426"><a href="#"  style="color: whitesmoke;">Bookings</a></li>
<li id="menu-item-427" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-427"><a href="#"  style="color: whitesmoke;">Specialities</a></li>
</ul></div></div>										</div>
          
                                                              <div class="col-sm-12 col-md-6 col-lg-3 ">
            <div id="about_us-widget-3" class="widget about_us"><h2 class="widget-title" style="color: antiquewhite;">Departments</h2>
              <ul class="list-unstyled" >
                                  
                <li style="color: antiquewhite;"><a class="text-medium" href=""  style="line-height:36px; color: antiquewhite;">Gynaecology</a></li>
                  
                <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Orthopaedics</a></li>
                  
                <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Paediatrics</a></li>
                  
                
                  </ul>
                
                  <div class="col-lg-3 footer-sm col-md-4 col-sm-6 widget margin-30px-top" style="margin-left: 150px;">
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.85030919971!2d76.3183881!3d9.9370718!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa84056d3a732a1ae!2sCrystalline%20Photography!5e0!3m2!1sen!2sin!4v1664373217895!5m2!1sen!2sin" width="500" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
                </div>
            		<!-- About Widget -->
<div class="about-footer">
<div class="footer-widget address">
  <div class="footer-logo">
                      
                </div>
                
  <div class="footer-address">
                  <div class="footer_s_inner"> 
      <div class="footer-sociala-icon">
        <i class="fa fa-home"></i>
      </div>									
      <div class="footer-sociala-info">				
      </div> 
    </div> 
                                <div class="footer_s_inner"> 
      <div class="footer-sociala-icon">
        <i class="fa fa-phone"></i>
      </div> 									
      
    </div>
                              
      <div class="footer_s_inner"> 
        <div class="footer-sociala-icon"> 
          <i class="fa fa-globe"></i>
        </div> 
        <div class="footer-sociala-info">  
        </div>
      </div>
                </div>
</div>
</div>	

</div>										</div>
          
                                                              <div class="col-sm-12 col-md-6 col-lg-3 last">
            <div id="about_us-widget-6" class="widget about_us">		<!-- About Widget -->
<div class="about-footer">
<div class="footer-widget address">
  <div class="footer-logo">
                      
                </div>
  <div class="footer-address">
                                            </div>
</div>
</div>	




      


</div>
</div>
</div>
<section class="cprght_ftr" style="background-color:rgb(19, 18, 18);">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="pt-2" style="color: #ccc;">© Copyright 2023.  Hospitals Group. All Rights Reserved.</div>
          </div>
          
          <div class="col-md-4">
              <ul class="nav ms-auto"  style="color: #ccc;">

           
                  <li class="nav-item"  style="color: #ccc;"><a href="" >Privacy policy</a> </li>
                  <li class="nav-item"  style="color: #ccc;"><a href="" >Disclaimer</a></li>
                  <li class="nav-item " style="color: #ccc;"><a href="">Contact</a></li>
                  
              </ul>
          </div>
      </div>
  </div>
</section>




<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book An Appoinment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <label>Full Name</label>
      <input type="text" placeholder="enter your name" class="form-control">
      <label>Age</label>
      <input type="text" placeholder="enter your age" class="form-control">
      <label>Gender</label>
      <input type="radio" name="gen"><label>Male</label> 
      <input type="radio" name="gen"><label>Female</label><br>
      <label>Address</label>
      <textarea class="form-control" placeholder="enter your address" rows="4" cols="50"></textarea>
      <label>Department</label>
      <input type="text" class="form-control">
      <label>Doctor Name</label>
      <input type="text" class="form-control">
      <label>Are you Sure to Confirm Bookings ?</label>
      <input type="radio" name="sure"><label>Yes</label>
      <input type="radio" name="sure"><label>No</label>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>